<%- include('../partials/header') %>
<%- include('../partials/sidenav') %>

            <div class="page-body">
                <div class="container-fluid">
  <div class="row page-title">
      <div class="col-sm-6">
          <h3>Addons Management</h3>
      </div>
      <div class="col-sm-6">
          <nav>
              <ol class="breadcrumb justify-content-sm-end align-items-center">
                  <li class="breadcrumb-item"> <a href="/">
                          <svg class="svg-color">
                              <use href="/icons/iconly-sprite.svg#Home"></use>
                          </svg></a></li>
               
                  <li class="breadcrumb-item active">Addons Management</li>
              </ol>
          </nav>
      </div>
  </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-5 col-lg-6">
            <div class="card height-equal">
                <div class="card-header">
                    <h4>Addons/Subaddons</h4>
                </div>
                <div class="card-body">
                    <div class="cf nestable-lists">
    <div class="dd" id="nestable3">
        <ol class="dd-list">
            <% if(typeof addons !== 'undefined'){ %>
                <% addons.forEach((addon) => { %>
                    <li class="dd-item dd3-item " data-id="1">
                        <% if (addon.SubAddon && addon.SubAddon.length > 0) { %>
                        <button class="dd-collapse" data-action="collapse" type="button">Collapse</button><button class="dd-expand" data-action="expand" type="button">Expand</button>
                        <% } %>
                        <div class="dd-handle dd3-handle"><svg>
                            <use href="/icons/iconly-sprite.svg#arrow-four"></use>
                        </svg>Drag</div>
                        <div class="dd3-content"><%= addon.name %>
                           
                              
                                <a href="#deleteItem<%= addon.id %>" data-bs-toggle="modal" class="delete-svg">
                                    <svg>
                                        <use href="/icons/iconly-sprite.svg#delete-icon"></use>
                                    </svg>
                                </a>

                                <a href="/addons/<%= addon.id %>?type=addon" class="edit-icon">
                                    <svg>
                                        <use href="/icons/iconly-sprite.svg#edit-icon"></use>
                                    </svg>
                                </a>

                                <div class="modal fade" id="deleteItem<%= addon.id %>" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel1" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Confirm delete</h5>
                                                <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h4 class="mb-3">Are you sure want to delete ?</h4>
                                                <p>This Item Will Be Deleted Permanently. You Can Not Undo This Action.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <form method="POST" action="/addons/<%= addon.id %>/delete?type=addon">
                                                    <input type="hidden" name="_token" value="1NPDVVvf5XZ04O8cuDH1qCn9YSOMXTvrpUMp6N4i" autocomplete="off"> 
                                                    <input type="hidden" name="type" value="addon">                                                   
                                                                                 
                                                    <button class="btn btn-primary" data-bs-dismiss="modal" type="button">Close</button>
                                                    <button class="btn btn-danger delete spinner-btn" type="submit">Delete</button>
                                                </form>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>

                        <% if (addon.SubAddon && addon.SubAddon.length > 0) { %>
                            <% addon.SubAddon.forEach(function(subAddon) { %>
                                <ol class="dd-list">
                                    <li class="dd-item dd3-item " data-id="1">
                                        <div class="dd-handle dd3-handle"><svg>
                                            <use href="/icons/iconly-sprite.svg#arrow-four"></use>
                                        </svg>Drag</div>
                                        <div class="dd3-content"><%= subAddon.name %>
                                           
                                                <input type="hidden" name="_token" value="1NPDVVvf5XZ04O8cuDH1qCn9YSOMXTvrpUMp6N4i" autocomplete="off">                                <input type="hidden" name="_method" value="DELETE">
                                                <a href="#confirmationModal1" data-bs-toggle="modal" class="delete-svg">
                                                    <svg>
                                                        <use href="/icons/iconly-sprite.svg#delete-icon"></use>
                                                    </svg>
                                                </a>
                
                                                <a href="/addons/<%= subAddon.id %>?type=subaddon" class="edit-icon">
                                                    <svg>
                                                        <use href="/icons/iconly-sprite.svg#edit-icon"></use>
                                                    </svg>
                                                </a>
                
                                                <div class="modal fade" id="confirmationModal1" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel1" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Confirm delete</h5>
                                                                <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h4 class="mb-3">Are you sure want to delete ?</h4>
                                                                <p>This Item Will Be Deleted Permanently. You Can Not Undo This Action.</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <form method="POST" action="/addons/<%= subAddon.id %>/delete?type=subaddon">
                                                                    <input type="hidden" name="_token" value="1NPDVVvf5XZ04O8cuDH1qCn9YSOMXTvrpUMp6N4i" autocomplete="off">       
                                                                    <input type="hidden" name="type" value="subaddon">
                                                                    <button class="btn btn-primary" data-bs-dismiss="modal" type="button">Close</button>
                                                                    <button class="btn btn-danger delete spinner-btn" type="submit">Delete</button>
                                                                </form>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                        </div>
                                    </li>
                                </ol>
                            <% }) %>
                        <% } %>

                    </li>
            <% }) %> 
            <% } %>       
         </ol>

    </div>
</div>
                </div>
            </div>
        </div>
        <div class="col-xxl-7 col-lg-6">
            <div class="card height-equal">
                <div class="card-header">
                    <h4>Add Category</h4>
                </div>
                <div class="card-body">
                    <form class="row g-3 custom-input" id="categoryForm" action="/addons" method="POST">
                        <input type="hidden" name="_token" value="LXYGkB2o5j9EyX2VdhuGXNdEF39415ynnSMHPyNI" autocomplete="off">                        <div class="col-12">
    <label class="form-label" for="">Name<span> *</span></label>
    <input class="form-control" type="text" value="" placeholder="Enter Category Name" name="name">
    </div>

    
<div class="col-12">
    <label class="form-label" for="">Type</label>
    <select class="form-select js-example-basic-single" name="type">
        <option value="">Select Type</option>
        <% if(typeof addonTypes !== 'undefined'){ %>
            <% addonTypes.forEach((addonType) => { %>
                <option class="option" value="<%= addonType.type %> "><%= addonType.type %></option>
            <% }) %>
        <% } %>

      
    </select>
</div>


<div class="col-12">
    <label class="form-label" for="">Status</label>
    <select class="form-select js-example-basic-single" name="status">
        <option value="1"  selected>Active</option>
        <option value="0"  >Deactive</option>
    </select>
</div>
<div class="col-12 text-end">
    <button type="submit" class="btn btn-primary">save</button>
</div>                    </form>
                </div>
            </div>
        </div>
        <div class="table-container">
            <%
            <!-- Calculate starting and ending page numbers to display -->
            let startPage = Math.max(1, currentPage - 2);
            let endPage = Math.min(totalPages, startPage + 4);
            if (endPage - startPage < 4) {
                startPage = Math.max(1, endPage - 4);
            }
            %>
            <!-- Info text aligned to the left -->
            <div class="dataTables_info" id="blog-table_info" role="status" aria-live="polite">
                Showing Page <%= currentPage %>  of <%= totalPages  %> Pages
            </div>
            
            <!-- Pagination buttons aligned to the right -->
            <div class="dataTables_paginate paging_simple_numbers" id="blog-table_paginate">
              
                <span>
                    <% if(currentPage > 1){%>
                        <a href="/addons?page=<%=currentPage - 1%>" class="paginate_button previous" aria-controls="blog-table" data-dt-idx="0" tabindex="-1" id="blog-table_previous">Previous</a>
                    <%}%>
                    <% for (let i = startPage; i <= endPage; i++){%>
                         
                        <% if (i == currentPage) { %>
                            <a class="paginate_button current" aria-controls="blog-table" data-dt-idx="1" tabindex="0"><%=i%></a>
                        <% }else{ %>
                            <a href="/addons?page=<%=i%>" class="paginate_button" aria-controls="blog-table" data-dt-idx="2" tabindex="0"><%=i%></a>
                        <% } %>
                    <%}%>
                    <!-- Add "Next" button if there are more pages -->
                    <%if (endPage < totalPages) { %>
                        <a href="/addons?page=<%=endPage + 1%>" class="paginate_button next" aria-controls="blog-table" data-dt-idx="6" tabindex="0" id="blog-table_next">Next</a>
                    <%}%>
                </span>

            </div>
        </div>
    </div>

    
</div>

            </div>
            
   
               <!-- footer start-->
               <%- include('../partials/footer') %>


            </div>
          </main>
                 
                  
                  
          <%- include('../partials/script') %>
    
  

</body>
</html>
