<%- include('partials/header') %>
<%- include('partials/sidenav') %>
<div class="page-body">
    <div class="container-fluid">
        <div class="row page-title">
            <div class="col-sm-6">
                <h3>Dashboard</h3>
            </div>
            <div class="col-sm-6">
                <nav>
                    <ol class="breadcrumb justify-content-sm-end align-items-center">
                        <li class="breadcrumb-item"> <a href="/">
                                <svg class="svg-color">
                                    <use href="./icons/iconly-sprite.svg#Home"></use>
                                </svg></a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                      
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-fluid default-dashboard">
        <div class="row">
            <div class="col-sm-6 col-xl-12">
                <div class="card profile-greeting card-hover">
                    <div class="card-body">
                        <div class="img-overlay">
                            <h1 id="greeting"></h1>
                            <p id="advice"></p>
                            <a class="btn btn-primary" href="/bookings">Check Bookings</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-12">
                <div class="row">
                    <!-- Order Delivery-->
                    <div class="col-md-4">
                        <div class="card progress-items">
                            <div class="card-header pb-3 bg-light-secondary">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <div class="d-flex gap-2">
                                            <h5 class="f-18 font-light">Today Bookings</h5>
                                       
                                        </div>
                                        <h3 class="f-26 f-w-600 mt-3"><%= todaybooking %></h3>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <svg class="svg-w-24 stroke-primary">
                                            <use href="/icons/iconly-sprite.svg#Calendar">
                                            </use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="card progress-items ">
                            <div class="card-header pb-3 bg-light-primary ">
                                <div class="d-flex justify-content-between ">
                                    <div>
                                        <div class="d-flex gap-2">
                                            <h5 class="f-18 font-light">Week Bookings</h5>
                                       
                                        </div>
                                        <h3 class="f-26 f-w-600 mt-3"><%= weekbooking %></h3>
                                    </div>
                                    <div class="flex-shrink-0 ">
                                        <svg class="svg-w-24 stroke-primary">
                                            <use href="/icons/iconly-sprite.svg#Calendar">
                                            </use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card progress-items">
                            <div class="card-header pb-3 bg-light-tertiary">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <div class="d-flex gap-2">
                                            <h5 class="f-18 font-light">Available Rooms</h5>
                                        
                                        </div>
                                        <h3 class="f-26 f-w-600 mt-3"><%= availableRoom %></h3>
                                    </div>
                                    <div class="flex-shrink-0 ">
                                        <svg class="svg-w-24 stroke-secondary">
                                            <use href="/icons/iconly-sprite.svg#Ticket-star">
                                            </use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card progress-items">
                            <div class="card-header pb-3 bg-light-secondary">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <div class="d-flex gap-2">
                                            <h5 class="f-18 font-light">Booked Rooms</h5>
                                       
                                        </div>
                                        <h3 class="f-26 f-w-600 mt-3"><%= bookedRoom %></h3>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <svg class="svg-w-24 stroke-secondary">
                                            <use href="/icons/iconly-sprite.svg#Ticket-star">
                                            </use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="card progress-items ">
                            <div class="card-header pb-3 bg-light-primary ">
                                <div class="d-flex justify-content-between ">
                                    <div>
                                        <div class="d-flex gap-2">
                                            <h5 class="f-18 font-light">Complaint Count</h5>
                                       
                                        </div>
                                        <h3 class="f-26 f-w-600 mt-3"><%= complaintCount %></h3>
                                    </div>
                                    <div class="flex-shrink-0 ">
                                        <svg class="svg-w-30 fill-secondary">
                                            <use href="/icons/iconly-sprite.svg#order-product"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                    <div class="col-md-4  ">
                        <div class="card progress-items ">
                            <div class="card-header pb-3 bg-light-primary ">
                                <div class="d-flex justify-content-between ">
                                    <div>
                                        <div class="d-flex gap-2">
                                            <h5 class="f-18 font-light">Employees Count</h5>
                                       
                                        </div>
                                        <h3 class="f-26 f-w-600 mt-3"><%= employeeCount %></h3>
                                    </div>
                                    <div class="flex-shrink-0 ">
                                        <svg class="svg-w-24 stroke-tertiary">
                                            <use href="/icons/iconly-sprite.svg#Profile">
                                            </use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                    </div>
             
                    
                </div>
            </div>
     
            
            <div class="col-md-6 col-xl-12">
                <!-- Bookings-->
                <div class="card invoice-card">
                    <div class="card-header pb-0">
                        <h4>Bookings</h4>
                        <div class="dropdown icon-dropdown">
                            <button class="btn dropdown-toggle" id="userdropdown4" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="icon-more-alt"></i></button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown4">
                                <a class="dropdown-item" href="/bookings">View All</a>
                                <a class="dropdown-item" href="/bookings/add">Add Booking</a>
                              
                            </div>
                        </div>
                    </div>
                    <div class="card-body invoice-table checkbox-checked">
                        <div class="table-responsive" style="overflow-x: auto;">
                            <div class="datatable-wrapper datatable-loading no-footer searchable fixed-columns">

                            <div style="overflow-x: auto; white-space: nowrap;">
                                <table class="table datatable-table" id="all-invoice" tabindex="2">
                                    <thead>
                                        <tr>
                                            <th>S/N</th>
                                            <th title="Name">Name</th>
                                            <th>Room Number</th>
                                            <th>Room Type</th>
                                            <th title="Total Price">Total Price</th>
                                            <th title="Created At">Checkin Date</th>
                                            <th title="Created At">Checkout Date</th>
                                            <!-- <th title="Created At">Rooms</th> -->
                                            <th title="Booked By">Booked By</th>
                                            <th title="Status">Status</th>
                                            <th title="Action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (typeof bookings !== 'undefined') { %>
                                            <% bookings.forEach((booking, index) => { %>
                                        <tr class="odd">
                                            <td><%= index + 1 %></td>
                                            <td class="sorting_1"><%= booking.Customer.name %></td>
                                            <td><%= booking.Room.number %></td>
                                            <td><%= booking.Room.type %></td>
                                       
                                            <td>&#8358;<%= booking.price %></td>
                                            <td><%= booking.check_in_date %></td>
                                            <td><%= booking.check_out_date %></td>
                                            <td><%= booking.booked_by %></td>
                                            <% if(booking.status == 'checkedout'){ %>
                                                <td><button class="btn btn-light-tertiary"><%= booking.status %></button></td>
                                            <% }else if(booking.status == 'checkedin'){ %>
                                                <td><button class="btn btn-light-primary"><%= booking.status %></button></td>
                                            <% }else if(booking.status == 'pending'){ %>
                                                <td><button class="btn btn-light-warning"><%= booking.status %></button></td>
                                            <% } %>
                                           
                                            <td>
                                                <div class="action-div mt-0">
                                                    <div class="action-div mt-0">
                                                        <% if(booking.status != 'checkedout'){ %>
                                                            <a href="/bookings/<%= booking.id %>/edit" class="edit-icon">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>
                                                            
                                                            </a>
                                                        <% } %>
                                                        <a href="/bookings/<%=booking.id %>">
                                                            <svg class="feather">
                                                                <use href="/icons/feather-sprite.svg#eye"></use>
                                                            </svg>
                                              
                                                        </a>
                                                        <a href="#deleteBooking<%=booking.id %>" data-bs-toggle="modal" class="delete-svg">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 remove-icon delete-confirmation">
                                                            <polyline points="3 6 5 6 21 6"></polyline>
                                                            <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                                            <line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                                        </a>

                                              
                                               
                                          
                                                <!-- Remove File Confirmation-->
                                                <div class="modal fade" id="deleteBooking<%=booking.id %>" tabindex="-1" role="dialog" aria-labelledby="deleteModalBooking" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Confirm delete</h4>
                                                                <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h4 class="mb-3"> Are you sure want to delete ?</h4>
                                                                <p>This Item Will Be Deleted Permanently. You Can not Undo This Action.</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
                                                                <form action="/bookings/<%= booking.id %>/delete" method="post">
                                                           
                                                                    <input type="hidden" name="_method" value="delete">  
                                                                    <button class="btn btn-danger" type="submit">Delete</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                
                                                </div>
                                            </td>
                                        </tr>
                                        <% }) %>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                              
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="col-md-6 col-xl-6">
                <!-- Bookings-->
                <div class="card invoice-card">
                    <div class="card-header pb-0">
                        <h4>Available Rooms</h4>
                        <div class="dropdown icon-dropdown">
                            <button class="btn dropdown-toggle" id="userdropdown4" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="icon-more-alt"></i></button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown4">
                                <a class="dropdown-item" href="/rooms">View All Rooms</a>
                     
                              
                            </div>
                        </div>
                    </div>
                    <div class="card-body invoice-table checkbox-checked">
                        <div class="table-responsive" style="overflow-x: auto;">
                            <div class="datatable-wrapper datatable-loading no-footer searchable fixed-columns">

                            <div style="overflow-x: auto; white-space: nowrap;">
                                <table class="table datatable-table" id="all-invoice" tabindex="2">
                                    <thead>
                                        <tr>
                                            <th title="Thumbnail">S/N</th>
                                            <th title="Title">Number</th>
                                            <th title="Type">Type</th>
                                            <th title="Title">Price</th>
                                            <th title="Status">Status</th>
                                            <th title="Action">Action</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(typeof rooms !== 'undefined'){ %>
                                            <% rooms.forEach((room, index) => { %>
                                                <tr class="odd">
                                                    <td><%= index + 1 %></td>
                                                    <td><%= room.number %></td>
                                                    <td><%= room.type %></td>
                                                    <td><%= room.price %></td>
                                                 
                                                    <td>
                                                        <div class="action-div mt-0">
                                                            <label class="switch">
                                                                <input data-route="/rooms/<%= room.id %>/update-status" class="form-check-input toggle-status" type="checkbox" name="status" value="1"  <%= room.status == 1 ? 'checked' : '' %>>
                                                                <span class="switch-state"></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="action-div mt-0">
                                                            <a href="/rooms/<%= room.id %>" class="edit-icon">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>
                                                    
                                                            </a>
                                                            <a href="#deleteRoom<%= room.id %>" data-bs-toggle="modal" class="delete-svg">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 remove-icon delete-confirmation"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                                            </a>
                                                            <!-- Remove File Confirmation-->
                                                            <div class="modal fade" id="deleteRoom<%= room.id %>" tabindex="-1" role="dialog" aria-labelledby="deleteRoom" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title">Confirm delete</h4>
                                                                            <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <h4 class="mb-3"> Are you sure want to delete ?</h4>
                                                                            <p>This Item Will Be Deleted Permanently. You Can not Undo This Action.</p>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
                                                                            <form action="/rooms/<%= room.id %>/delete" method="post">
                                                                                
                                                                            <input type="hidden" name="_method" value="delete">       
                                                                            <button class="btn btn-danger" type="submit">Delete</button>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                              
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="col-md-6 col-xl-6">
                <!-- Bookings-->
                <div class="card invoice-card">
                    <div class="card-header pb-0">
                        <h4>Latest Complaints</h4>
                        <div class="dropdown icon-dropdown">
                            <button class="btn dropdown-toggle" id="userdropdown4" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="icon-more-alt"></i></button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown4">
                                <a class="dropdown-item" href="/complaints">View All Complaints</a>
                     
                              
                            </div>
                        </div>
                    </div>
                    <div class="card-body invoice-table checkbox-checked">
                        <div class="table-responsive" style="overflow-x: auto;">
                            <div class="datatable-wrapper datatable-loading no-footer searchable fixed-columns">

                            <div style="overflow-x: auto; white-space: nowrap;" >
                                <table class="table" tabindex="2">
                                    <thead>
                                        <tr>
                                            <th title="Thumbnail">S/N</th>
                                            <th title="Room Name/Number">Room Number</th>
                                            <th title="Title">Title</th>
                                            <th title="Created At">Created At</th>
                                            <th title="Status">Status</th>
                                            <th title="Action">Action</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(typeof complaints !== 'undefined'){ %>
                                            <% complaints.forEach((complaint, index) => { %>
                                                <tr class="odd">
                                                    <td><%= index + 1 %></td>
                                                    <td><%= complaint.room_number %></td>
                                                    <td><%= complaint.title %></td>
                                                    <td><%= complaint.createdAt.toLocaleDateString() %></td>
                                                    <% if(complaint.status == 'processing'){ %>
                                                        <td><button class="btn btn-light-tertiary"><%= complaint.status %></button></td>
                                                    <% }else if(complaint.status == 'resolved'){ %>
                                                        <td><button class="btn btn-light-primary"><%= complaint.status %></button></td>
                                                    <% }else if(complaint.status == 'pending'){ %>
                                                        <td><button class="btn btn-light-warning"><%= complaint.status %></button></td>
                                                    <% } %>
                                                    <td>
                                                        <div class="action-div mt-0">
                                                            <a href="#viewComplaint<%=complaint.id%>" data-bs-toggle="modal" class="view-svg">
                                                                <svg class="feather">
                                                                    <use href="/icons/feather-sprite.svg#eye"></use>
                                                                </svg>
                                                             
                                                            </a>
                                                            <a href="/complaints/<%= complaint.id %>" class="edit-icon">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>
                                                    
                                                            </a>
                                                            <a href="#deleteComplaint<%= complaint.id %>" data-bs-toggle="modal" class="delete-svg">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 remove-icon delete-confirmation"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                                            </a>
                                                            <!-- Remove File Confirmation-->
                                                            <div class="modal fade" id="deleteComplaint<%= complaint.id %>" tabindex="-1" role="dialog" aria-labelledby="deleteComplaint" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title">Confirm delete</h4>
                                                                            <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <h4 class="mb-3"> Are you sure want to delete ?</h4>
                                                                            <p>This Item Will Be Deleted Permanently. You Can not Undo This Action.</p>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
                                                                            <form action="/complaints/<%= complaint.id %>/delete" method="post">
                                                                            
                                                                                                                        <input type="hidden" name="_method" value="delete">  
                                                                                                                                                              <button class="btn btn-danger" type="submit">Delete</button>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
    
                                                            <!-- View Complaint -->
                                                            <div class="modal fade" id="viewComplaint<%=complaint.id%>" tabindex="-1" role="dialog" aria-labelledby="viewComplaint" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title">Complaint Details</h4>
                                                                            <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="row">
                                                                            <div class="col-4">
                                                                                <label class="form-label" for="">Title</label>
                                                                                <input class="form-control" type="text" value="<%=complaint.title %>"disabled>
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <label class="form-label" for="">Room Number/Name</label>
                                                                                <input class="form-control" type="text" value="<%=complaint.room_number %>" disabled>
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <label class="form-label" for="">Status</label>
                                                                                <input class="form-control" type="text" value="<%=complaint.status %>" disabled>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <label class="form-label" for="">Message</label>
                                                                                <textarea name="message"  rows="15" class="form-control" disabled><%=complaint.message %></textarea>
                                                                            </div>
                                                                        </div>
                                                                         
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
                                                                          
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                              
                                </div>
                            </div>
                        </div>
                    </div>
            </div>


            
        </div>
    </div>
</div>
            
<%- include('partials/footer') %>


  </div>
</main>
       
<%- include('partials/script') %>    
<% if (typeof user !== 'undefined') { %>

<script>
        
    let username = `<%= user.first_name %>!`
     
</script> 
<% } %>
        
<script src="/js/custom/dashboard.js"></script>
<script src="/js/custom/room.js"></script>


</body>
</html>
