<%- include('../partials/header') %>
<%- include('../partials/sidenav') %>

    <div class="page-body">
                <div class="container-fluid">
    <div class="row page-title">
      <div class="col-sm-6">
        <h3>Edit Booking</h3>
      </div>
      <div class="col-sm-6">
        <nav>
          <ol class="breadcrumb justify-content-sm-end align-items-center">
            <li class="breadcrumb-item"> <a href="/">
                <svg class="svg-color">
                  <use href="/icons/iconly-sprite.svg#Home"></use>
                </svg></a></li>
            <li class="breadcrumb-item"><a style="color: #43b9b299;" href="/bookings">Booking Management</a></li>
            <li class="breadcrumb-item active">Add Booking</li>
          </ol>
        </nav>
      </div>
    </div>
</div>
<!-- Container-fluid starts-->
<div class="container-fluid add-product">
    <form id="bookingForm">
        <div class="row"> 
            <% if (typeof booking !== 'undefined') { %>
            <div class="col-xl-6">
            <div class="card"> 
                <div class="card-body">
                    <div class="product-info" data-index="0">
                        <h4>Booking Info</h4>
                        <div class="product-group">
                            <div class="row"> 
                            <div class="col-sm-6">
                                <div class="mb-3">
                            
                                <label class="form-label">Booking Refernce</label>
                         
                                <input type="text" class="form-control" value="<%= booking.booking_reference %>" disabled>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                <label class="form-label">Status</label>

                                <select required name="status" class="form-select"> 
                                    <option value="<%= booking.status %>"><%= booking.status %></option> 
                                    <% if(booking.status == 'pending'){ %>
                                        <option value="checkedin">Checkin</option>
                                    <% } %>
                                    <option value="checkedout">Checkout</option>  
 
                            </select>
                                </div>
                            </div>
                            </div>
                            <div class="row"> 
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                    <label class="form-label">Room Price</label>
                                    <input class="form-control" value="&#8358;<%= new Intl.NumberFormat('en-US', { style: 'decimal', minimumFractionDigits: 0 }).format(booking.price) %>" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                    <label class="form-label">Room Discount <span>(* per night)</span></label>
                                    <input class="form-control" value="&#8358;<%= new Intl.NumberFormat('en-US', { style: 'decimal', minimumFractionDigits: 0 }).format(booking.discount) %>" name="bookingRoom_discount_<%= booking.id%>" disabled type="number">
                                    </div>
                                </div>
                           
                                </div>
                                <div class="row"> 
                             
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                        <label class="form-label">Number of Persons <span>*</span></label>
                                        <input required class="form-control" name="no_persons" value="<%= booking.no_persons %>" type="number" onkeydown="return event.key !== 'e' && event.key !== 'E'">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <label class="form-label">Number of Days Booked</label>
                                            <input class="form-control" name="booked_days_no" value="<%= booking.booked_days_no %>" type="number" disabled>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        
                
                    </div>
                </div>
        </div>
    <% } %>
            </div>
            <div class="col-xl-6">
   

            <div class="card"> 
                <div class="card-body">
                    <div class="product-info room-section" data-index="0" id="room-container_0">
                        <h4>Room Details Info</h4>
                       
                        <div class="product-group book-room-section" data-index="<%= booking.id %>" id="bookedRoomContainer_<%=booking.id %>">
                            <div class="row"> 
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                    <label class="form-label">Room Type <span>*</span></label>
                                    <input class="form-control" type="text" value="<%= booking.Room.type %>" disabled>
                                 
                                    </div>
                                </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input  name="booking_id" id="bookedRoomNumberId_<%=booking.id%>"  value="<%= booking.id%>" type="hidden">
                                    <label class="form-label">Room Number/Name <span>*</span></label>
                              
                                    <select required id="bookedRoomNumber_<%=booking.id%>" name="room_id_<%= booking.id%>" class="form-select" disabled> 
                                        <option value="<%= booking.Room.id %>"><%= booking.Room.number %></option>   
                
                                    </select>
                                </div>
                            </div>
                          
                            </div>
                          
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                    <label class="form-label">Check In Date <span>*</span></label>
                                    <input class="form-control" id="bookedCheckInDate_<%=booking.id%>" name="check_in_date_<%= booking.id%>" value="<%= booking.check_in_date ? new Date( booking.check_in_date).toISOString().split('T')[0] : booking.check_in_date%>" type="date" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                    <label class="form-label">Check In Time <span>*</span></label>
                                    <input class="form-control" name="check_in_time_<%= booking.id%>" value="<%= booking.check_in_time %>" type="time">
                                    </div>
                                </div>
                                <!-- <div class="col-sm-6">
                                    <div class="mb-3">
                                    <label class="form-label">Check Out Date <span>*</span></label>
                                    <input class="form-control" id="bookedCheckOutDate_<%=booking.id %>" name="check_out_date_<%= booking.id%>" value="<%= booking.check_out_date ? new Date( booking.check_out_date).toISOString().split('T')[0] : booking.check_out_date %>" min="<%= new Date().toISOString().split('T')[0] %>" type="date">
                                    <span class="" role="alert"> <strong></strong></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                    <label class="form-label">Check Out Time <span>*</span></label>
                                    <input class="form-control" name="check_out_time_<%= booking.id%>" value="<%= booking.check_out_time %>" type="time">
                                    </div>
                                </div> -->
                            </div>
                      
                   
                            <% if (booking.BookingAddons.length > 0) { %>
                            <hr>
                            <h4>Room Addons</h4>
                            <hr>
                            <% booking.BookingAddons.forEach((bookingAddon, index) => { %>
                            <div class="row"> 
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                    <label class="form-label">Addon Name <span>*</span></label>
                                    <input class="form-control" type="text" value="<%= bookingAddon.Addon.name %>" disabled>
                                 
                                    </div>
                                </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input name="bookingRoom_id" value="<%= booking.id%>" type="hidden">
                                    <label class="form-label">Addon Price <span>*</span></label>
                              
                                    <input class="form-control" type="text" value="<%= bookingAddon.price %>" disabled>
                                </div>
                            </div>
                          
                            </div>
                            <% }) %>
                            <% } %>
                        </div>

                                  <!-- Add Addon-->
                                  <div class="modal fade" id="addAddon" tabindex="-1" role="dialog" aria-labelledby="addAddonModal" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Add Addon</h4>
                                                <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                           
                                            <div class="modal-body">
                                                <div class="row"> 
                                                    <div class="col-sm-6">
                                                        <div class="mb-3">
                                                        <label class="form-label">Addon Type <span>*</span></label>
                                                        <select name="addon_type" class="form-select" id="addonType_<%=booking.id %>"> 
                                                            <option value="">Select..</option> 
                                                            <% addonTypes.forEach((addonType) => { %>
                                                                <option value="<%= addonType.type %>"><%= addonType.type %></option>
                                                            <% }) %>
                                        
                         
                                                    </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="mb-3">
                                                            <label class="form-label">Addon Name <span>*</span></label>
                                                      
                                                            <select name="addon_id" id="addonName_<%= booking.id %>" class="form-select" disabled>
                                                                <option value="">Select..</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                              
                                                    <div class="col-sm-4">
                                                        <div class="mb-3">
                                                        <label class="form-label">Price <span>*</span></label>
                                                        <input class="form-control" name="addon_price" type="number" >
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="mb-3">
                                                        <label class="form-label">Payment Mode <span>*</span></label>
                                                        <select name="addon_payment_mode" class="form-select"> 
                                                            <option value="">Select..</option> 
                                                            <% paymentModes.forEach((paymentMode) => { %>
                                                                <option value="<%= paymentMode.mode %>"><%= paymentMode.mode %></option>
                                                            <% }) %>
                         
                                                        </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="mb-3">
                                                        <label class="form-label">Booked Room Mode</label>
                                                     
                                                        <select name="addon_room_id" class="form-select"> 
                                                         
                                                          
                                                                <option value="<%= booking.Room.id %>"><%= booking.Room.number %></option>
                                                     
                         
                                                        </select>
                                                        </div>
                                                    </div>
                                  
                                                    </div>
                                            </div>
                                            <div class="modal-footer">
                                          
                                                <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>                
                                                    <button class="btn btn-danger" id="save-addon">Save</button>
                                             
                                            </div>
                                        </div>
                                    </div>
                                </div>
                       
                
                    </div>
               
                
                <div class="mt-4">
                    <div class="row"> 
                    <div class="col-sm-12 text-end">
                        <!-- <a class="btn btn-primary booking-btn mb-2" data-bs-toggle="modal" href="#addAddon">Extend Booking </a> -->
                        <a class="btn btn-primary booking-btn mb-2" data-bs-toggle="modal" href="#addAddon">Add Addon </a>
                        <a class="btn btn-primary booking-btn mb-2" id="add-room-btn" style="display: none;">Add Room </a>
                        <a class="btn btn-secondary booking-btn mb-2" id="update-btn">Save</a>
                        <a class="btn btn-danger booking-btn mb-2" href="/bookings">Cancel</a></div>
                    </div>
                </div>
                </div>
                </div>
    
            </div>
        </div>
    </form>
</div>
              <!-- Container-fluid ends-->
            </div>
            
            <%- include('../partials/footer') %>


        </div>
      </main>
             
              
              
      <%- include('../partials/script') %>

      <% if (typeof rooms !== 'undefined') { %>
        <script>
          // Pass rooms data to JavaScript
          const rooms = <%- JSON.stringify(rooms) %>;
          const roomTypes = <%- JSON.stringify(roomTypes) %>;
        </script>
      <% } %>
      
      <script src="/js/custom/edit-room.js"></script>
   

    

</body>
</html>
