<%- include('../partials/header') %>
<%- include('../partials/sidenav') %>


            <div class="page-body">
                    <div class="container-fluid basic_table">
        <div class="row page-title">
            <div class="col-sm-6">
                <h3>Booking Management</h3>
            </div>
            <div class="col-sm-6">
                <nav>
                    <ol class="breadcrumb justify-content-sm-end align-items-center">
                        <li class="breadcrumb-item"> <a href="h/">
                                <svg class="svg-color">
                                    <use href="/icons/iconly-sprite.svg#Home"></use>
                                </svg></a></li>
                  
                        <li class="breadcrumb-item active">Booking Management</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card role-management">
                    <div class="card-body">
                        <div class="blog-card">
                            <div class="blog-card-content">
                                <div class="role-details">
                                    <div class="role-profile">
                                        <img src="/images/profile.png" alt="Ticket-star">
                                    </div>
                                    <div class="role-profile-details">
                                        <% if(typeof user !== 'undefined'){ %>
                                          
                                        <h3>Welcome back <%= user.first_name %>!</h3>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="blog-tags">
                                    <div class="tags-icon bg-light-primary">
                                        <svg class="stroke-icon">
                                            <use href="/icons/iconly-sprite.svg#Ticket"></use>
                                        </svg>
                                    </div>
                                    <div class="tag-details">
                                        <h2 class="total-num counter"><%= bookingCount %></h2>
                                        <p>Total Bookings</p>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-card-image">
                                <img src="/images/user-management.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body border-b-primary border-2">
                        <div class="upcoming-box">
                            <div class="upcoming-icon bg-light-primary">
                                <svg class="stroke-icon">
                                    <use href="/icons/iconly-sprite.svg#Ticket"></use>
                                </svg>
                            </div>
                            <p>Booking</p>
                            <a href="/bookings/add" class="btn btn-primary">Create Booking</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body border-b-secondary border-2">
                        <div class="upcoming-box">
                            <div class="upcoming-icon bg-light-secondary">
                                <svg class="stroke-icon">
                                    <use href="/icons/iconly-sprite.svg#tags"></use>
                                </svg>
                            </div>
                            <p>Room</p>
                            <a href="/rooms" class="btn btn-secondary">View Rooms</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-block row">
                    <div class="role-table">
                        <div class="table-responsive p-3">
                            <div style="overflow-x: auto; white-space: nowrap;">
                                <table class="table" id="tag-table">
                                    <thead>
                                        <tr>
                                            <th>S/N</th>
                                            <th title="Name">Name</th>
                                       
                                            <!-- <th title="Ref">Booking Ref</th> -->
                                            <th title="Room">Room</th>
                                            <th title="Room Type">Room Type</th>
                                            <th title="Total Price">Total Price</th>
                                            <th title="Amount Paid">Amount Paid</th>
                                            <th title="Payment Mode">Payment Status</th>
                                            <th title="Phone">Phone</th>
                                            <th title="Booked By">Booked By</th>
                                            <th title="Created At">Created At</th>
                                            <th title="Status">Status</th>
                                            <th title="Action">Action</th>
                                        </tr>
                                        <tbody>
                                            <% if (typeof bookings !== 'undefined') { %>
                                                <% bookings.booking.forEach((booking, index) => { %>
                                            <tr class="odd">
                                                <td><%= index + 1 %></td>
                                                <td class="sorting_1"><%= booking.Customer.name %></td>
                                                
                                                <!-- <td><%= booking.booking_reference %></td> -->
                                                <!-- Assuming bookingRooms is an array that is related to the current booking -->
                                                <!-- Assuming bookingRooms is an array that is related to the current booking -->
                                                <% let bookingRoom = bookings.bookingRooms.find(room => room.booking_id === booking.id); %>
                                                <td><%= bookingRoom ? bookingRoom.Room.number : 'N/A' %></td>
                                                <td><%= bookingRoom ? bookingRoom.Room.type : 'N/A' %></td>
                                                <td>&#8358;<%= booking.total_price %></td>
                                                <td>&#8358;<%= booking.amount_paid != '' ? booking.amount_paid : N/A  %></td>

                                                <td><%= booking.payment_status %></td>
                                                <td><%= booking.Customer.phone %></td>
                                                <td><%= booking.booked_by %></td>
                                                <td><%= booking.createdAt.toLocaleDateString() %></td>
                                                <% if(booking.status == 'checkedout'){ %>
                                                    <td><button class="btn btn-light-tertiary"><%= booking.status %></button></td>
                                                <% }else if(booking.status == 'checkedin'){ %>
                                                    <td><button class="btn btn-light-primary"><%= booking.status %></button></td>
                                                <% }else if(booking.status == 'pending'){ %>
                                                    <td><button class="btn btn-light-warning"><%= booking.status %></button></td>
                                                <% } %>
                                                <td>
                                                
                                                    <div class="action-div mt-0">
                                                        <div class="dropdown icon-dropdown">
                                                            <!-- <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> -->
                                                                <i class="icon-more-alt" data-bs-toggle="dropdown"></i>
                                                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown08">
                                                                <% if(booking.status != 'checkedout'){ %>
                                                                    <a class="dropdown-item" href="/bookings/<%= booking.id %>/edit">Edit</a>
                                                                <% } %>
                                                                <% if(booking.payment_status == 'Part Payment'){ %>
                                                                    <a class="dropdown-item" href="#completePayment<%=booking.id %>" data-bs-toggle="modal">Complete Payment</a>
                                                                <% } %>
                                                                <a class="dropdown-item" href="/bookings/<%=booking.id %>">View</a>
                                                                <a class="dropdown-item" href="/bookings/<%=booking.id %>/receipt">Print Receipt</a>
                                                                <a class="dropdown-item" data-bs-toggle="modal" href="#deleteBooking<%=booking.id %>">Delete</a>
                                                            </div>
                                                        </div>
                                                        
                                                          
                                                   
                                                     
                                                        <!-- <a href="#confirmationModal1" data-bs-toggle="modal" class="delete-svg">
                                                            <svg class="feather">
                                                                <use href="/icons/feather-sprite.svg#check-circle"></use>
                                                            </svg>
                                                
                                                        </a> -->
                                                        <!-- <a href="#deleteBooking<%=booking.id %>"  class="delete-svg">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 remove-icon delete-confirmation">
                                                            <polyline points="3 6 5 6 21 6"></polyline>
                                                            <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                                            <line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                                        </a>
                                              -->
                                                        <!-- <a href="/bookings/<%=booking.id %>/guestreceipt">
                                                            <svg class="feather">
                                                                <use href="/icons/feather-sprite.svg#file-text"></use>
                                                            </svg>

                                                        </a> -->
                                                
                                                
                                                    <!-- Remove File Confirmation-->
                                                    <div class="modal fade" id="deleteBooking<%=booking.id %>" tabindex="-1" role="dialog" aria-labelledby="deleteModalBooking" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title">Confirm delete</h4>
                                                                    <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <h4 class="mb-3"> Are you sure want to delete ?</h4>
                                                                    <p>This Item Will Be Deleted Permanently. You Can not Undo This Action.</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
                                                                    <form action="/bookings/<%= booking.id %>/delete" method="post">
                                                                        <input type="hidden" name="_token" value="JcwTIw5DkUPPmAO0uPN35eJNyCiYl6XMOVRs9Yk6" autocomplete="off">                                        <input type="hidden" name="_method" value="delete">                                        <button class="btn btn-danger" type="submit">Delete</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Complete Payment-->
                                                    <div class="modal fade" id="completePayment<%=booking.id %>" tabindex="-1" role="dialog" aria-labelledby="deleteModalBooking" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title">Complete Payment</h4>
                                                                    <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <form action="/bookings/completepayment" method="post">
                                                                <div class="modal-body">
                                                                
                                                                    <p> <b> Customer Name: </b> <%= booking.Customer.name %></p>
                                                                    <p> <b> Booking Reference: </b> <%= booking.booking_reference %></p>
                                                                    <p> <b> Total Amount: </b>&#8358;<%= booking.total_price %></p>
                                                                    <p> <b> Amount Paid: </b>&#8358;<%= booking.amount_paid %></p>
                                                                    <p> <b> Balance: </b>&#8358;<%= booking.total_price - booking.amount_paid %></p>
                                                             
                                                                  <div class="row mt-2">
                                                                    <div class="col-sm-6">
                                                                        <div class="mb-3">
                                                                            <label class="form-label"> Amount</label>
                                                                            <input type="hidden" name="booking_id" value="<%= booking.id %>">
                                                                            <input class="form-control" name="amount" required  type="number" onkeydown="return event.key !== 'e' && event.key !== 'E'">
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-sm-6">
                                                                        <div class="mb-3">
                                                                        <label class="form-label">Payment Mode</label>
                                                                        <select required name="payment_mode" class="form-select"> 
                                                                            <option value="">Select..</option> 
                                                                            <% paymentModes.forEach((paymentMode) => { %>
                                                                                <option value="<%= paymentMode.mode %>"><%= paymentMode.mode %></option>
                                                                            <% }) %>
                                                        
                                         
                                                                        </select>
                                                                        </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
                                                                                     
                                                                    <button class="btn btn-danger" type="submit">Save</button>
                                                                   
                                                                </div>
                                                            </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                    
                                                    </div>
                                                </td>
                                            </tr>
                                            <% }) %>
                                            <% } %>
                                        </tbody>
                                    </thead>
                                </table>
                            </div>
                            <div class="table-container">
                                <%
                                <!-- Calculate starting and ending page numbers to display -->
                                let startPage = Math.max(1, currentPage - 2);
                                let endPage = Math.min(totalPages, startPage + 4);
                                if (endPage - startPage < 4) {
                                    startPage = Math.max(1, endPage - 4);
                                }
                                %>
                                <!-- Info text aligned to the left -->
                                <div class="dataTables_info" id="blog-table_info" role="status" aria-live="polite">
                                    Showing Page <%= currentPage %>  of <%= totalPages  %> Pages
                                </div>
                                
                                <!-- Pagination buttons aligned to the right -->
                                <div class="dataTables_paginate paging_simple_numbers" id="blog-table_paginate">
                                  
                                    <span>
                                        <% if(currentPage > 1){%>
                                            <a href="/bookings?page=<%=currentPage - 1%>" class="paginate_button previous" aria-controls="blog-table" data-dt-idx="0" tabindex="-1" id="blog-table_previous">Previous</a>
                                        <%}%>
                                        <% for (let i = startPage; i <= endPage; i++){%>
                                             
                                            <% if (i == currentPage) { %>
                                                <a class="paginate_button current" aria-controls="blog-table" data-dt-idx="1" tabindex="0"><%=i%></a>
                                            <% }else{ %>
                                                <a href="/bookings?page=<%=i%>" class="paginate_button" aria-controls="blog-table" data-dt-idx="2" tabindex="0"><%=i%></a>
                                            <% } %>
                                        <%}%>
                                        <!-- Add "Next" button if there are more pages -->
                                        <%if (endPage < totalPages) { %>
                                            <a href="/bookings?page=<%=endPage + 1%>" class="paginate_button next" aria-controls="blog-table" data-dt-idx="6" tabindex="0" id="blog-table_next">Next</a>
                                        <%}%>
                                    </span>

                                </div>
                            </div>
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            </div>
            
             <!-- footer start-->
             <%- include('../partials/footer') %>


            </div>
          </main>
                 
                  
<%- include('../partials/script') %>    <!-- jquery-->




    

</body>
</html>
