<%- include('../partials/header') %>
<%- include('../partials/sidenav') %>


            <div class="page-body">
                    <div class="container-fluid basic_table">
        <div class="row page-title">
            <div class="col-sm-6">
                <h3>Booking Management</h3>
            </div>
            <div class="col-sm-6">
                <nav>
                    <ol class="breadcrumb justify-content-sm-end align-items-center">
                        <li class="breadcrumb-item"> <a href="h/">
                                <svg class="svg-color">
                                    <use href="/icons/iconly-sprite.svg#Home"></use>
                                </svg></a></li>
                  
                        <li class="breadcrumb-item active">Booking Management</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card role-management">
                    <div class="card-body">
                        <div class="blog-card">
                            <div class="blog-card-content">
                                <div class="role-details">
                                    <div class="role-profile">
                                        <img src="/images/profile.png" alt="Ticket-star">
                                    </div>
                                    <div class="role-profile-details">
                                        <% if(typeof user !== 'undefined'){ %>
                                          
                                        <h3>Welcome back <%= user.first_name %>!</h3>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="blog-tags">
                                    <div class="tags-icon bg-light-primary">
                                        <svg class="stroke-icon">
                                            <use href="/icons/iconly-sprite.svg#Ticket"></use>
                                        </svg>
                                    </div>
                                    <div class="tag-details">
                                        <h2 class="total-num counter"><%= bookingCount %></h2>
                                        <p>Total Bookings</p>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-card-image">
                                <img src="/images/user-management.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body border-b-primary border-2">
                        <div class="upcoming-box">
                            <div class="upcoming-icon bg-light-primary">
                                <svg class="stroke-icon">
                                    <use href="/icons/iconly-sprite.svg#Ticket"></use>
                                </svg>
                            </div>
                            <p>Booking</p>
                            <a href="/bookings/add" class="btn btn-primary">Create Booking</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body border-b-secondary border-2">
                        <div class="upcoming-box">
                            <div class="upcoming-icon bg-light-secondary">
                                <svg class="stroke-icon">
                                    <use href="/icons/iconly-sprite.svg#tags"></use>
                                </svg>
                            </div>
                            <p>Room</p>
                            <a href="/rooms" class="btn btn-secondary">View Rooms</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <!-- Filter Dropdown -->
                <select id="filterDropdown" class="form-select w-25">
                    <option value="">Filter by</option>
                    <option value="Pending">Pending</option>
                    <option value="Checkedin">Checked In</option>
                    <option value="Checkedout">Checked Out</option>
                    <option value="">Full Payment</option>
                    <option value="">Part Payment</option>
                    <option value="">Credit</option>
                    <option value="">Date</option>
                </select>
                
                <% if(typeof user !== 'undefined'){ %>
                    <% if(user.Role.name == "Admin" || user.Role.name == "Receptionist"){ %>
                        <div class="col-sm- text-end pr-9 pb-3">
                            <a href="#crConfirm" data-bs-toggle="modal" class="btn btn-primary">Run House Keeping Cron</a>
                        </div>
                    <% } %>
                <% } %>
         
      
            </div>
            
            <div class="card">
            
                
                <div class="card-block row">
                    <div class="role-table">
                        <div class="table-responsive p-3">
                            <div style="overflow-x: auto; white-space: nowrap;">
                                <table class="table" id="tag-table">
                                    <thead class="text-center">
                                        <tr>
                                            <th>S/N</th>
                                            <th title="Name">Name</th>
                                       
                                            <!-- <th title="Ref">Booking Ref</th> -->
                                            <th title="Room">Room</th>
                                            <th title="Room Type">Room Type</th>
                                            <th title="Total Price">Total Price</th>
                                            <th title="Amount Paid">Amount Paid</th>
                                            <th title="Discount">Discount</th>
                                            <th title="Days">Days</th>
                                            <th title="Payment Mode">Payment Mode</th>
                                            <th title="Payment Status">Payment Status</th>
                                            <!-- <th title="Phone">Phone</th> -->
                                            <th title="Booked By">Booked By</th>
                                            <th title="Check In">Check In</th>
                                            <th title="Check Out">Check Out</th>
                                            <th title="Created At">Created At</th>
                                            <th title="Status">Status</th>
                                            <th title="Action">Action</th>
                                        </tr>
                                        <tbody>
                                            <% if (typeof bookings !== 'undefined') { %>
                                                <% bookings.forEach((booking, index) => { %>
                                            <tr class="odd text-center">
                                                <td><%= index + 1 %></td>
                                                <td class="sorting_1"><a href="/bookings/<%=booking.id %>"><%= booking.Customer.name %></a></td>
                                                
                                                <!-- <td><%= booking.booking_reference %></td> -->
                                                <!-- Assuming bookingRooms is an array that is related to the current booking -->
                                                <!-- Assuming bookingRooms is an array that is related to the current booking -->
                                                <td><%= booking.Room.number %></td>
                                                <td><%= booking.Room.type %></td>
                                                
                                                <td><a href="/bookings/<%=booking.id%>/transactions">&#8358;<%= booking.price != '' ? new Intl.NumberFormat('en-US', { style: 'decimal', minimumFractionDigits: 0 }).format(booking.price * booking.booked_days_no) : N/A  %></a></td>
                                                <td>&#8358;<%= booking.amount_paid != '' ? new Intl.NumberFormat('en-US', { style: 'decimal', minimumFractionDigits: 0 }).format(booking.amount_paid) : N/A  %></td>
                                                <td>&#8358;<%= booking.discount != '' ? new Intl.NumberFormat('en-US', { style: 'decimal', minimumFractionDigits: 0 }).format(booking.discount * booking.booked_days_no) : N/A  %></td>
                                                <td><%= booking.booked_days_no %></td>
                                                <td><%= booking.payment_mode %></td>
                                                <td><%= booking.payment_status %></td>
                                    
                                                <!-- <td><%= booking.Customer.phone %></td> -->
                                                <td><%= booking.booked_by %></td>
                                                <td><%= (booking.check_in_date) %></td>
                                                <td><%= (booking.check_out_date) %></td>
                                                <td><%= booking.createdAt.toLocaleDateString() %></td>
                                                <% if(booking.status == 'checkedout'){ %>
                                                    <td><button class="btn btn-light-tertiary"><%= booking.status %></button></td>
                                                <% }else if(booking.status == 'checkedin'){ %>
                                                    <td><button class="btn btn-light-primary"><%= booking.status %></button></td>
                                                <% }else if(booking.status == 'pending'){ %>
                                                    <td><button class="btn btn-light-warning"><%= booking.status %></button></td>
                                                <% } %>
                                                <td>
                                                
                                                    <div class="action-div mt-0">
                                                        <div class="dropdown icon-dropdown">
                                                            <!-- <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> -->
                                                                <i class="icon-more-alt" data-bs-toggle="dropdown"></i>
                                                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown08">
                                                                <a class="dropdown-item" href="/bookings/<%=booking.id %>/receipt">Print Receipt</a>
                                                                <% if(booking.status == 'pending'){ %>
                                                                    <a class="dropdown-item" href="#checkInBooking<%=booking.id %>"  data-bs-toggle="modal">Check In</a>
                                                                <% } %> 
                                                                <% if(booking.status != 'checkedout'){ %>
                                                                    <a class="dropdown-item" href="#extendBooking<%=booking.id %>" data-bs-toggle="modal">Extend Booking</a>
        
                                                                <% } %>
                                                                <% if(booking.status != 'checkedout' && booking.Room.type != 'others'){ %>
                                                                    <a class="dropdown-item" href="#deleteBooking<%=booking.id %>"  data-bs-toggle="modal">Add Room</a>
                                                                <% } %>   
                                                          
                                                                <% if(booking.status != 'checkedout' && booking.status != 'pending'){ %>
                                                                    <a class="dropdown-item" href="#checkOutBooking<%=booking.id %>"  data-bs-toggle="modal">Checkout</a>
                                                                <% } %> 
                                                                <% if(booking.payment_status == 'Part Payment' || booking.payment_status == 'Credit' ){ %>
                                                                    <a class="dropdown-item" href="#completePayment<%=booking.id %>" data-bs-toggle="modal">Complete Payment</a>
                                                                <% } %>

                  
                                                               
                                                                
                                                            
                                                                <a class="dropdown-item" href="/bookings/<%=booking.id %>">View</a> 
                                                                <!-- <% if(booking.status != 'checkedout'){ %>
                                                                  
                                                                    <a class="dropdown-item" href="/bookings/<%= booking.id %>/edit">Edit</a>

                
                                                                <% } %> -->
                                                                <a class="dropdown-item" data-bs-toggle="modal" href="#delete<%=booking.id %>">Delete</a>
                                                            </div>
                                                        </div>
                                            
                                                    </div>
                                          
                                                </td>
                                            </tr>
                                              <!-- Add New Room -->
                                              <div class="modal fade" id="deleteBooking<%=booking.id %>" tabindex="-1" role="dialog" aria-labelledby="deleteModalBooking" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Add New Room To Booking</h4>
                                                            <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <form id="addRoom_<%= booking.id %>" action="/bookings/<%= booking.id %>/add" method="post">
                                                            <div class="modal-body">
                                                                <div class="product-info room-section" id="room-container_<%=booking.id %>">
                                                                    <div class="product-group">
                                                                        <div class="row">
                                                                            <!-- Room Type -->
                                                                            <div class="col-sm-6">
                                                                                <div class="mb-3">
                                                                                    <label class="form-label">Room Type <span>*</span></label>
                                                                                    <input type="hidden" name="booking_id" id="" value="<%=booking.id%>">
                                                                                    <select required id="roomType_<%=booking.id%>" class="form-select">
                                                                                        <option value="">Select..</option>
                                                                                        <% if(typeof roomTypes !== 'undefined'){ %>
                                                                                            <% roomTypes.forEach(roomType => { %>
                                                                                                <option value="<%= roomType.type %>">
                                                                                                    <%= roomType.type.charAt(0).toUpperCase() + roomType.type.slice(1) %>
                                                                                                </option>
                                                                                            <% }) %>
                                                                                        <% } %>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        
                                                                            <!-- Room Number/Name -->
                                                                            <div class="col-sm-6">
                                                                                <div class="mb-3">
                                                                                    <label class="form-label">Room Number/Name <span>*</span></label>
                                                                                    <select name="room_id" required id="roomNumber_<%=booking.id%>" class="form-select" disabled>
                                                                                        <option value="">Select..</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                        <div class="row"> 
                                                                            <div class="col-sm-6">
                                                                                <div class="mb-3">
                                                                                    <label class="form-label">Check In Date <span>*</span></label>
                                                                                    <input class="form-control" name="check_in_date" id="checkInDate_<%=booking.id%>" type="date" min="<%= new Date().toISOString().split('T')[0] %>" required>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="mb-3">
                                                                                    <label class="form-label">Check Out Date <span>*</span></label>
                                                                                    <input class="form-control" name="check_out_date" id="checkOutDate_<%=booking.id%>" type="date" min="<%= new Date().toISOString().split('T')[0] %>" required>
                                                                                
                                                                                    <span class="" role="alert"> <strong></strong></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                    
                                                                        <div class="row"> 
                                                                            <div class="col-sm-6">
                                                                                <div class="mb-3">
                                                                                    <label class="form-label">Check In Time <span>*</span></label>
                                                                                    <input class="form-control" name="check_in_time" type="time" required>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="mb-3">
                                                                                    <label class="form-label">Room Discount </label>
                                                                                    <input class="form-control" name="discount" placeholder="Discount for Room" type="number" onkeydown="return event.key !== 'e' && event.key !== 'E'">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                    
                                                                        <div class="row"> 
                                                                            <div class="col-sm-6">
                                                                                <div class="mb-3">
                                                                                    <label class="form-label">Number of Persons<span>*</span></label>
                                                                                    <input class="form-control" name="no_persons" placeholder="Enter Number of Persons" type="number" required onkeydown="return event.key !== 'e' && event.key !== 'E'">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="mb-3">
                                                                                    <label class="form-label">Checkin Status<span>*</span></label>
                                                                                    <select required name="status" class="form-select" required> 
                                                                                        <option value="">Select an Option</option> 
                                                                                        <option value="pending">Pending</option>
                                                                                        <option value="checkedin">Checkin</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="mb-3">
                                                                                    <label class="form-label">Payment Status<span>*</span></label>
                                                                                    <select required name="payment_status" class="form-select" id="paymentStatus_<%=booking.id%>" required> 
                                                                                        <option value="">Select an Option</option> 
                                                                                        <option value="Part Payment"> Part Payment </option>
                                                                                        <option value="Full Payment"> Full Payment </option>
                                                                                        <option value="Credit"> Credit </option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="mb-3">
                                                                                    <label class="form-label">Payment Mode<span>*</span></label>
                                                                                    <select required id="paymentMode_<%=booking.id%>" name="payment_mode" class="form-select" required disabled> 
                                                                                        <option value="">Select..</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-12" id="partPayment_<%=booking.id %>" style="display: none;">
                                                                                <div class="mb-3">
                                                                                    <label class="form-label">Part Payment Amount<span>*</span></label>
                                                                                    <input class="form-control" name="part_payment_amount" type="number" onkeydown="return event.key !== 'e' && event.key !== 'E'">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                                
                                                                <button class="btn btn-primary" id="saveBtn_<%= booking.id %>" type="submit">Save</button>
                                                        
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                              <!-- Remove File Confirmation-->
                                            <div class="modal fade" id="delete<%=booking.id %>" tabindex="-1" role="dialog" aria-labelledby="deleteModalBooking" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Confirm delete</h4>
                                                            <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4 class="mb-3"> Are you sure want to delete ?</h4>
                                                            <p>This Item Will Be Deleted Permanently. You Can not Undo This Action.</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
                                                            <form action="/bookings/<%= booking.id %>/delete" method="post">

                                                                <input type="hidden" name="_method" value="delete">                                       
                                                                <button class="btn btn-danger" type="submit">Delete</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Complete Payment-->
                                            <div class="modal fade" id="completePayment<%=booking.id %>" tabindex="-1" role="dialog" aria-labelledby="deleteModalBooking" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Complete Payment</h4>
                                                            <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <form action="/bookings/completepayment" method="post">
                                                        <div class="modal-body">
                                                        
                                                            <p> <b> Customer Name: </b> <%= booking.Customer.name %></p>
                                                            <p> <b> Booking Reference: </b> <%= booking.booking_reference %></p>
                                                            <p> <b> Total Amount: </b>&#8358;<%= new Intl.NumberFormat('en-US', { style: 'decimal', minimumFractionDigits: 2 }).format(booking.price) %></p>
                                                            <p> <b> Discount: </b>&#8358;<%= new Intl.NumberFormat('en-US', { style: 'decimal', minimumFractionDigits: 2 }).format(booking.discount) %></p>
                                                            <p> <b> Amount Paid: </b>&#8358;<%= new Intl.NumberFormat('en-US', { style: 'decimal', minimumFractionDigits: 2 }).format(booking.amount_paid) %></p>
                                                            <p> <b> Balance: </b>&#8358;<%= new Intl.NumberFormat('en-US', { style: 'decimal', minimumFractionDigits: 2 }).format((booking.price - booking.discount) - booking.amount_paid) %></p>
                                                    
                                                        <div class="row mt-2">
                                                            <div class="col-sm-6">
                                                                <div class="mb-3">
                                                                    <label class="form-label"> Amount</label>
                                                                    <input type="hidden" name="booking_id" value="<%= booking.id %>">
                                                                    <input class="form-control" name="amount" required  type="number" onkeydown="return event.key !== 'e' && event.key !== 'E'">
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="col-sm-6">
                                                                <div class="mb-3">
                                                                <label class="form-label">Payment Mode</label>
                                                                <select required name="payment_mode" class="form-select"> 
                                                                    <option value="">Select..</option> 
                                                                    <% paymentModes.forEach((paymentMode) => { %>
                                                                        <option value="<%= paymentMode.mode %>"><%= paymentMode.mode %></option>
                                                                    <% }) %>
                                                
                                
                                                                </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
                                                                            
                                                            <button class="btn btn-danger" type="submit">Save</button>
                                                        
                                                        </div>
                                                    </form>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                                   <!-- Clean Confirmation-->
                                               <div class="modal fade" id="crConfirm" tabindex="-1" role="dialog" aria-labelledby="crConfirm" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Confirn Job Clean</h4>
                                                            <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4 class="mb-3"> Are you sure you want to run this cron job?</h4>
                                                            <p>The cleaning and retouching room status wil be updated. You can't undo this action.</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
                                                            <form action="/housekeeping/<%= booking.id %>/delete" method="post">
                                                              
                                                              <button class="btn btn-danger" type="submit">Save</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <!-- checkout -->
                                            <div class="modal fade" id="checkOutBooking<%=booking.id %>" tabindex="-1" role="dialog" aria-labelledby="deleteModalBooking" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Confirm checkout</h4>
                                                            <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4 class="mb-3"> Are you sure want to checkout room <%= booking.Room.number %> ?</h4>
                                                            <p>You Can not Undo This Action!</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
                                                            <form action="/bookings/<%= booking.id %>/checkout" method="post">
                            
                                                                <button class="btn btn-danger" type="submit">Checkout</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Checkin -->

                                            <div class="modal fade" id="checkInBooking<%=booking.id %>" tabindex="-1" role="dialog" aria-labelledby="deleteModalBooking" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Confirm check in</h4>
                                                            <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                            <% 
                                                            const today = new Date();
                                                            today.setHours(0, 0, 0, 0); // Normalize today's date
                                                        
                                                            const checkInDate = new Date(booking.check_in_date);
                                                            checkInDate.setHours(0, 0, 0, 0); // Normalize check-in date
                                                        
                                                            let checkOutDate = booking.check_out_date ? new Date(booking.check_out_date) : null;
                                                            if (checkOutDate) {
                                                                checkOutDate.setHours(0, 0, 0, 0); // Normalize check-out date if it exists
                                                            }
                                                        
                                                            if (today >= checkInDate && (!checkOutDate || today <= checkOutDate)) { 
                                                        %>
                                                    
                                                        <div class="modal-body">
                                                            <h4 class="mb-3"> Are you sure want to checkin room <%= booking.Room.number %> ?</h4>
                                                            <p>You Can not Undo This Action!</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
                                                            <form action="/bookings/<%= booking.id %>/checkin" method="post">
                            
                                                                <button class="btn btn-danger" type="submit">Check in</button>
                                                            </form>
                                                        </div>
                                                        <% }else{%>
                                                            <div class="modal-body">
                                                                <p> You cannot check in room <%= booking.Room.number %>. The check in date is <%= booking.check_in_date %></p><br>
                                                                <% if(booking.check_out_date){ %>
                                                                and the check out date is <%= booking.check_out_date %>
                                                                <% } %>
                                                            
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
                                                            
                                                            </div>
                                                        <% } %>

                                                    </div>
                                                </div>
                                            </div>

                                             <!-- extend -->
                                            <div class="modal fade" id="extendBooking<%=booking.id %>" tabindex="-1" role="dialog" aria-labelledby="deleteModalBooking" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Extend booking</h4>
                                                                <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <form action="/bookings/<%= booking.id %>/extend" method="post">
                                                            <div class="modal-body">
                                                            
                                                                <p><b>Room:</b><%= booking.Room.number %></p>
                                                                <p><b>Room Type:</b> <%= booking.Room.type %></p>
                                                                <p><b>Check in Date:</b> <%= booking.check_in_date %></p>
                                                                <p><b>Check out Date: </b> <%= booking.check_out_date %></p>
                                                                <div class="row mt-2">
                                                                    <div class="col-sm-6">
                                                                        <div class="mb-3">
                                                                        <label class="form-label">New Check Out Date</label>
                                                                        <input name="check_out_date" type="date" class="form-control" required>
                                                                    </div>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <div class="mb-3">
                                                                        <label class="form-label">Payment Mode</label>
                                                                        <select required name="payment_mode" class="form-select"> 
                                                                            <option value="">Select..</option> 
                                                                            <% paymentModes.forEach((paymentMode) => { %>
                                                                                <option value="<%= paymentMode.mode %>"><%= paymentMode.mode %></option>
                                                                            <% }) %>
                                                        
                                        
                                                                        </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
                                            
                                                                    <button class="btn btn-danger" type="submit">Extend Booking</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                            </div>

                                          
                                            <% }) %>
                                            <% } %>
                                        </tbody>
                                    </thead>
                                </table>
                            </div>
                            <div class="table-container">
                                <%
                                <!-- Calculate starting and ending page numbers to display -->
                                let startPage = Math.max(1, currentPage - 2);
                                let endPage = Math.min(totalPages, startPage + 4);
                                if (endPage - startPage < 4) {
                                    startPage = Math.max(1, endPage - 4);
                                }
                                %>
                                <!-- Info text aligned to the left -->
                                <div class="dataTables_info" id="blog-table_info" role="status" aria-live="polite">
                                    Showing Page <%= currentPage %>  of <%= totalPages  %> Pages
                                </div>
                                
                                <!-- Pagination buttons aligned to the right -->
                                <div class="dataTables_paginate paging_simple_numbers" id="blog-table_paginate">
                                  
                                    <span>
                                        <% if(currentPage > 1){%>
                                            <a href="/bookings?page=<%=currentPage - 1%>" class="paginate_button previous" aria-controls="blog-table" data-dt-idx="0" tabindex="-1" id="blog-table_previous">Previous</a>
                                        <%}%>
                                        <% for (let i = startPage; i <= endPage; i++){%>
                                             
                                            <% if (i == currentPage) { %>
                                                <a class="paginate_button current" aria-controls="blog-table" data-dt-idx="1" tabindex="0"><%=i%></a>
                                            <% }else{ %>
                                                <a href="/bookings?page=<%=i%>" class="paginate_button" aria-controls="blog-table" data-dt-idx="2" tabindex="0"><%=i%></a>
                                            <% } %>
                                        <%}%>
                                        <!-- Add "Next" button if there are more pages -->
                                        <%if (endPage < totalPages) { %>
                                            <a href="/bookings?page=<%=endPage + 1%>" class="paginate_button next" aria-controls="blog-table" data-dt-idx="6" tabindex="0" id="blog-table_next">Next</a>
                                        <%}%>
                                    </span>

                                </div>
                            </div>
                           
                            
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
            </div>
            
             <!-- footer start-->
             <%- include('../partials/footer') %>


            </div>
          </main>
                 
                  
<%- include('../partials/script') %>    <!-- jquery-->

<script src="/js/custom/add-room.js"></script>


    

</body>
</html>
