<%- include('../partials/header') %>
<%- include('../partials/sidenav') %>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    .receipt {
      width: 85mm;
      margin: 0 auto;
      padding: 10px;
      border: 1px solid #ddd;
      margin-bottom: 20px;
    }
    .details{
        font-size: 13px;
        margin-top: 12px;
    }
    .header {
      text-align: center;
      font-size: 14px;
    }
    .header strong {
      font-size: 18px;
    }
    .divider {
      border-top: 1px dashed #000;
      margin: 10px 0;
    }
    .details, .item-list, .summary {
      font-size: 12px;
    }
    .item-list table {
      width: 100%;
      border-collapse: collapse;
    }
    .item-list table th, .item-list table td {
      text-align: left;
      font-size: 14px;
      padding: 4px 0;
    }
    .summary {
      text-align: right;
      font-size: 14px;
    }
    .foot {
      text-align: center;
      /* margin-top: 10px; */
      font-size: 12px;
    }

    /* Ensure each receipt prints on a separate page */
    @media print {
      .receipt {
        page-break-after: always;
      }
    }
  </style>
</head>
<body>
  <div id="receipt-container">
    <% if (typeof bookings !== 'undefined') { %>
     
      <% bookings.forEach(booking => { %>

        <div class="receipt">
          <div class="header">
            <div>
                <img class="for-light" src="/images/new-logo.png"
                                alt="logo"><img class="for-dark"
                                src="/images/logo_white.png" alt="logo">
            </div>
            <strong>The New Eastern Comfort Hotel</strong><br>
            Address: 134/136 Aba Road Umuahia<br>
            

          </div>
          <div class="details">
            Customer Name:  <%= booking.Customer.name %><br>
            Phone Number:  <%= booking.Customer.phone %> <br>
            Check in Date: <%= booking.check_in_date %><br>
            Check Out Date: <%= booking.check_out_date %><br>
            Booking ID: <%= booking.booking_reference %><br>
            Room Type: <%= booking.Room.type %> <br>
            Payment Mode: <%= booking.payment_mode %>
          </div>
          <div class="divider"></div>
          <div class="item-list">
            <table>
              <thead>
                <tr>
                  <th>Room</th>
                  <th>Rate</th>
                  <th>Days</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
           
                  <tr>
                    <td><%= booking.Room.number %></td>
                    <td>&#8358;<%= new Intl.NumberFormat('en-US', { style: 'decimal', minimumFractionDigits: 2 }).format( booking.price) %></td>
                    <td><%= booking.booked_days_no %></td>
                    <td>&#8358;<%= new Intl.NumberFormat('en-US', { style: 'decimal', minimumFractionDigits: 2 }).format((booking.price * booking.booked_days_no)) %></td>
                  </tr>
           
              </tbody>
            </table>
          </div>
          <div class="divider"></div>
          <div class="summary">
            <strong>Subtotal: &#8358;<%= new Intl.NumberFormat('en-US', { style: 'decimal', minimumFractionDigits: 2 }).format(booking.price * booking.booked_days_no) %></strong><br>
            <strong>Discount: &#8358;<%= new Intl.NumberFormat('en-US', { style: 'decimal', minimumFractionDigits: 2 }).format(booking.discount) %></strong><br>
            <strong>Total: &#8358;<%= new Intl.NumberFormat('en-US', { style: 'decimal', minimumFractionDigits: 2 }).format((booking.price * booking.booked_days_no) - booking.discount) %></strong> <br>
            <strong>Amount Paid: &#8358;<%= new Intl.NumberFormat('en-US', { style: 'decimal', minimumFractionDigits: 2 }).format(booking.amount_paid) %></strong> <br>
            <strong>Balance: &#8358;<%= new Intl.NumberFormat('en-US', { style: 'decimal', minimumFractionDigits: 2 }).format((booking.price * booking.booked_days_no - booking.discount) - booking.amount_paid) %></strong><br>  
          </div>
          <div class="divider"></div>
          <div class="foot">
            THANK YOU FOR YOUR PATRONAGE<br>
            Terms and Conditions: <br>
            No refund of money after payment <br>
            Enjoy your stay here! <br>
            Booked By: <%= booking.booked_by %>
          </div>
        </div>
      <% }) %>
    <% } %>
  </div>

  <script>

  </script>
            
             <!-- footer start-->
             <%- include('../partials/footer') %>


            </div>
          </main>
                            
<%- include('../partials/script') %>    <!-- jquery-->
